<a href="#/">< всі альбоми</a>

<div class="row album-detail-wrapper">
    <div class="col-md-5">
        <img class="img-responsive" data-ng-src="{{album.logo}}" alt="{{album.title}}">
    </div>
    <div class="col-md-7">
        <h2 class="">{{album.title}} ({{album.year}})</h2>
        <ul class="list-songs list-unstyled">
            <li data-ng-repeat="song in songs" class="clearfix" data-ng-class="{currentSong: song == playingSong}">
                <div class="col-md-1">
                    <span>{{$index + 1}}.</span>
                </div>
                <div class="col-md-9 song-title">
                    <i class="fa fa-music"></i>
                    <a href="" data-ng-click="setPlayingSong(song)">
                        <span>{{song.title}}</span>
                    </a>
                </div>
                <div class="col-md-2 text-right">
                    <span>{{song.duration}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>