<div class="player" data-ng-show="playerShowed">
    <div class="hide-player">
        <i class="fa fa-arrow-circle-left" title="Сховати плеєр" data-ng-click="hidePlayer()"></i>
    </div>
    <p class="playing-song">{{playingSong.title}}</p>
    <audio id="audio-player" audio-load data-ng-src="{{playingSongPath}}"></audio>
    <ul class="playlist list-unstyled">
        <li data-ng-repeat="song in playlist" class="clearfix">
            <div class="song-title">
                <span>{{$index + 1}}.</span>
                <a href="" data-ng-click="setPlayingSong(song)">
                    <span>{{song.title}}</span>
                </a>
            <span class="remove-song">
                <i class="fa fa-times" title="Удалити із плейліста" data-ng-click="removeFromPlaylist($index)"></i>
            </span>
            </div>
        </li>
    </ul>
</div>